@import "./common.scss";

body {
  padding: 0 10px;
}

.echarts-box {
  width: 100%;
  height: 100%;
  overflow: hidden;

  .box-item {
    float: left;
    width: 50%;
    height: 300px;
  }
}

.layui-laypage .layui-laypage-curr .layui-laypage-em {
  background-color: $theme;
}

.layui-laypage input:focus,
.layui-laypage select:focus {
  border-color: $theme !important;
}