/* line 5, C:/Ruby26-x64/lib/ruby/gems/2.6.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, C:/Ruby26-x64/lib/ruby/gems/2.6.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, C:/Ruby26-x64/lib/ruby/gems/2.6.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, C:/Ruby26-x64/lib/ruby/gems/2.6.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, C:/Ruby26-x64/lib/ruby/gems/2.6.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, C:/Ruby26-x64/lib/ruby/gems/2.6.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, C:/Ruby26-x64/lib/ruby/gems/2.6.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, C:/Ruby26-x64/lib/ruby/gems/2.6.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, C:/Ruby26-x64/lib/ruby/gems/2.6.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 5, ../sass/common.scss */
html,
body {
  height: 100%;
  font-family: "Microsoft YaHei";
}

/* line 11, ../sass/common.scss */
.head {
  text-align: center;
  height: 44px;
  line-height: 44px;
  overflow: hidden;
  background: #1E9FFF;
  padding: 0 12px;
}
/* line 19, ../sass/common.scss */
.head .myicon {
  position: absolute;
  color: #fff;
  font-size: 20px;
  left: 12px;
}
/* line 26, ../sass/common.scss */
.head .title {
  display: inline-block;
  font-size: 18px;
  color: #fff;
}

/* line 3, ../sass/account.scss */
body {
  overflow: hidden;
}

/* line 7, ../sass/account.scss */
.store-address {
  padding-right: 12px;
  margin: 10px 0;
  font-size: 14px;
  color: #999;
  text-align: right;
}

/* line 15, ../sass/account.scss */
.store-list {
  height: calc(100% - 180px);
  overflow: auto;
  border-top: 1px solid #dddddd;
  border-bottom: 1px solid #dddddd;
}
/* line 21, ../sass/account.scss */
.store-list > li {
  display: flex;
  padding: 10px 0;
  margin: 0 12px;
  border-bottom: 1px solid #dddddd;
  box-sizing: border-box;
}
/* line 28, ../sass/account.scss */
.store-list > li .left {
  width: 60px;
  height: 60px;
}
/* line 33, ../sass/account.scss */
.store-list > li .middle {
  flex: 1;
  margin-left: 12px;
  font-size: 14px;
  color: #333;
  margin-top: 23px;
}
/* line 41, ../sass/account.scss */
.store-list > li .right {
  padding-top: 20px;
}
/* line 44, ../sass/account.scss */
.store-list > li .right .num {
  display: inline-block;
  color: red;
  font-size: 16px;
  height: 24px;
  line-height: 24px;
  margin: 0 8px;
}

/* line 56, ../sass/account.scss */
.mybtn {
  float: right;
  margin-right: 12px;
  margin-top: 15px;
}
