/* line 5, ../../../../../../../../../.rvm/gems/ruby-2.5.3/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../../../../.rvm/gems/ruby-2.5.3/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../../../../.rvm/gems/ruby-2.5.3/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../../../../.rvm/gems/ruby-2.5.3/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../../../../.rvm/gems/ruby-2.5.3/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../../../../.rvm/gems/ruby-2.5.3/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../../../../.rvm/gems/ruby-2.5.3/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../../../../.rvm/gems/ruby-2.5.3/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../../../../.rvm/gems/ruby-2.5.3/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 5, ../sass/common.scss */
html,
body {
  height: 100%;
  font-family: "Microsoft YaHei";
}

/* line 3, ../sass/back-login.scss */
body {
  background: url(../images/bg.jpg) no-repeat;
  background-size: 100% 100%;
}

/* line 8, ../sass/back-login.scss */
.login-box {
  width: 400px;
  height: 300px;
  position: absolute;
  left: 50%;
  top: 30%;
  transform: translateX(-50%);
  background: #fff;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
}
/* line 20, ../sass/back-login.scss */
.login-box .login-title {
  line-height: 50px;
  font-size: 28px;
  color: #1E9FFF;
  text-align: center;
  margin-bottom: 20px;
}
/* line 28, ../sass/back-login.scss */
.login-box .goto-link {
  font-size: 14px;
  margin-top: 10px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

/* line 37, ../sass/back-login.scss */
.register-box {
  display: none;
  width: 400px;
  height: 350px;
  position: absolute;
  left: 50%;
  top: 30%;
  transform: translateX(-50%);
  background: #fff;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
}
/* line 50, ../sass/back-login.scss */
.register-box .register-title {
  line-height: 50px;
  font-size: 28px;
  color: #1E9FFF;
  text-align: center;
  margin-bottom: 20px;
}
/* line 58, ../sass/back-login.scss */
.register-box .goto-link {
  font-size: 14px;
  margin-top: 10px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}
